<ion-view title="Eliminar producto" id="page17">
    <ion-content padding="true" class="has-header">
        <form id="eliminarProducto-form6" class="list ">
            <label class="item item-input " id="eliminarProducto-input12">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="eliminarProducto-input13">
                <span class="input-label">Tipo de producto</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="productoEliminado" id="eliminarProducto-button16" class=" button button-positive  button-block ">Eliminar</a>
    </ion-content>
</ion-view>