<ion-view title="Producto" id="page14">
    <ion-content padding="true" class="has-header">
        <ion-list id="producto-list5">
            <ion-item id="producto-list-item11">Item 1</ion-item>
            <ion-item id="producto-list-item12">Item 2</ion-item>
            <ion-item id="producto-list-item13">Item 3</ion-item>
        </ion-list>
        <a ui-sref="crearProducto" id="producto-button17" class=" button button-positive  button-block ">Crear</a>
        <a ui-sref="editarProducto" id="producto-button13" class=" button button-positive  button-block ">Editar</a>
        <a ui-sref="eliminarProducto" id="producto-button14" class=" button button-positive  button-block ">Eliminar</a>
    </ion-content>
</ion-view>